body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    margin:0;
    text-align: center;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

#about p {
	text-align: center;
}

h1 {
    margin-top: 0;
}

#project-carousel {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.project {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.project:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.project h3 {
    margin-top: 0;
}

.project p {
    margin-bottom: 10px;
}

.project a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

.project a:hover {
    text-decoration: underline;
}

.expanded {
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    z-index: 999;
    overflow-y: auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#project-carousel {
	height:50vh;
    position: relative;
    max-width: 800px; /* Set a maximum width for the carousel section */
    margin: 0 auto; /* Center the carousel section horizontally */
}

.expanded .project {
	position: inherit;
	height: inherit;
    width: 100%;
    max-width: inherit; /* Adjust maximum width as needed */
    background-color: #fff; /* Background color of the expanded card */
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    align-items: center;
}

.expanded #project-carousel {
    pointer-events: none; /* Disable pointer events on the carousel section when expanded */
}

.expanded .project:not(.expanded) {
    display: none;
}
